/* FGF at COPAS CENTER
   2008-04-18
*/

.post{
   margin: 5px;
   padding: 10px;
   text-align: justify;
   border: solid 1px;
   border-color: #cccccc;
}

.post_date{
   font-size: 80%;
	margin: 0 0 10px 0;
	color: #B0B0B0;
}

.act_date{
   font-size: 100%;
   margin: 0 0 10px 0;
   color: #143A79;
   font-weight: bold;
}

.post_title{
	font-weight: bold;
	text-align: center;
	margin: 5px 0 5px 0;
	color: #2874F2;
}

.post_title2{
	font-weight: bold;
	text-align: center;
	margin: 0 0 5px 0;
}
.post_text{
	margin: 10px 0 0 0;
}

.post_link{
	font-weight: bold;
}

.top_button{
	text-align: center;
	font-weight: bold;
}

.feed_button{
	text-align: right;
	font-weight: bold;
	margin: 0 10px 0 0;
}

.bottom_button{
	text-align: left;
	font-weight: bold;
	margin: 0 0 5px 10px;
}

.menu0 a {
   display: block;
   width: 100%;
   text-decoration: none;
   font-size: 9pt;
   font-weight: bold;
   color: #ffff90;
   text-align: center;
   padding: 5px 0 0 0;
}

.menu0 a img{
   background-color: #f0f0f0;
}

.menu0 a:hover img{
   background-color: #b7863a;
}

.menux li {
   height: 12px;
   background: #25497b;
   font-size: 1px;
}
